<h1 class="zagatpage">Удаляемые поставки</h1>
<table class="table" border="1" cellspacing="0" cellpadding="4">
  <tr>
    <td>Организация</td>
    <td>ФИО поставщика</td>
    <td>Юридический адрес</td>
    <td>Физический адрес</td>
    <td>Телефон</td>
    <td>ИНН</td>
    <td>Цена</td>
    <td>Артикул комплектующего</td>
    <td></td>
  </tr>
  <% form_for :deldeliv do %>
  <% for pp in PartsProvider.find(:all)  %>
    <tr>
      <td><%= pp.provider.p_org%></td>
      <td><%= pp.provider.p_fio%></td>
      <td><%= pp.provider.p_adrur%></td>
      <td><%= pp.provider.p_adrfiz%></td>
      <td><%= pp.provider.p_tel%></td>
      <td><%= pp.provider.p_inn%></td>
      <td><%= pp.cost%></td>
      <td><%= pp.art %> </td>
      <td><%= check_box :deldeliv, pp.id %>Удалить</td>
    </tr>
    <% end %>
</table>
<br/>
<%= submit_tag 'Удалить' %><br/>

<% end %>