<table border="1" cellspacing="0" cellpadding="4">

  <tr>
    <td>Номер договора</td>
    <td>Количество</td>
    <td>Артикул</td>
    <td>Дата ожидаемой поставки</td>
  </tr>
<% for order in PartsPurchase.find(:all) %>
  <tr>
    <td><%= order.purchase.z_no %></td>
    <td><%= order.kol %></td>
    <td><%= order.art %></td>

    <td>
        <%= text_field :upd, :name %>
    </td>
    
  </tr>
 
<% end %>
   
</table>
<%= submit_tag 'Сохранить изменения' %>