<h1> Удаление информации о готовой продукции </h1>
<% form_for :update_type do |s| %>
        <%= s.radio_button("type", "all", :checked => true ) %>Выбрать для удаления весь список<br>
        <%= s.radio_button("type", "condit") %>Выбрать для удаления по условиям:<br/><br/>

        <p>Артикул:<br>
        <%= text_field :upd, :art %>
        </p>
        <p>Наименование:<br>
        <%= text_field :upd, :name %>
        </p>
        <p>Номер договора:<br>
        <%= text_field :upd, :d_no %>
        </p>

        <%= submit_tag "Искать" %>
        <%end%>