<table border="1" cellspacing="0" cellpadding="4">

  <br/>
<tr>
<td>Номер договора</td>
<td>Наименование</td>
<td>Артикул</td>
<td>Срок исполнения</td>
<td>Списать</td>


</tr>

<% for u in Ready.find(:all) %>

  <tr>
<td><%=u.d_no%></td>
<td><%=u.description.catalog.name%></td>
<td><%=u.fulart%></td>
<td><%=u.order.datastop%></td>
<td><%= check_box :del, u.id %>Списать</td>


</tr>
 


</table>
<%= submit_tag 'Списать' %>

<% end %>
<br/>