

<table border="1" cellspacing="0" cellpadding="4">
  <caption>Клиенты</caption>
  <br>
<tr>
<td>ФИО заказчика</td>
<td>Организация</td>
<td>ИНН</td>
<td>КПП</td>
<td>р/c</td>
<td>Банк</td>
<td>к/с</td>
<td>Телефон</td>
<td>Юридический адрес</td>
<td>Физический адрес</td>
<td>БИК</td>

</tr>
<% @allclients.each{|u| %>
  <tr>
<td><%=u.cl_fio%></td>
<td><%=u.cl_org%></td>
<td><%=u.cl_inn%></td>
<td><%=u.cl_kpp%></td>
<td><%=u.cl_rs%></td>
<td><%=u.cl_bank%></td>
<td><%=u.cl_ks%></td>
<td><%=u.cl_tel%></td>
<td><%=u.cl_adrur%></td>
<td><%=u.cl_adrfiz%></td>
<td><%=u.cl_bik%></td>

</tr>
  <%}%>
</table>

