<%= @conditions %>
<table border="1" cellspacing="0" cellpadding="4">

  <br>
<tr>
<td>Наименование</td>
<td>Артикул</td>
<td>Длина</td>
<td>Цвет</td>
<td>Шина</td>
<td>Цена,руб</td>
<td>Редактировать</td>



</tr>
<% form_for :update_type do |s| %>

<% @catalog.each{|u| %>

  <tr>
<td><%=u.catalog.name%></td>
<td><%=u.catalog.art%></td>
<td><%=u.dlina%></td>
<td><%=u.color%></td>
<td><%=u.shin%></td>
<td><%=u.cost%></td>
<td><%= s.radio_button("type", u.id, :checked => true)%></td>


</tr>
  <%}%>
</table>
<br>
<%= submit_tag "Редактировать" %>
<%end%>


